<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Admin</title>

    <!-- General CSS Files -->
    @*<link href="~/admin-themes/assets/modules/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    @*<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel=" stylesheet" />*@
    <link href="~/admin-themes/assets/modules/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- CSS Libraries -->
    <link href="~/admin-themes/assets/modules/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/admin-themes/assets/modules/datatables/select.bootstrap4.min.css" rel="stylesheet" />
    <!-- Template CSS -->
    <link href="~/admin-themes/assets/css/style.css" rel="stylesheet" />
    <link href="~/admin-themes/assets/css/components.css" rel="stylesheet" />

    <!-- CSS Libraries -->
  <link rel="stylesheet" href="~/admin-themes/assets/modules/izitoast/css/iziToast.min.css">
  <link rel="icon" type="image/x-icon" href="~/live-logo.png" asp-append-version="true" />
    @*  <link rel="stylesheet" href="/css/styleauto.css">*@
    @* <style>
            body {
                background: unset !important;
            }

            .main-content {
                background: #f0f2f5 !important;
            }
        </style>*@
</head>

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/admin-themes/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                            @await Component.InvokeAsync("UserInfo")
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="/account/Logout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Thoát
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/bitcoin">AutoLive</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="/bitcoin">AutoLive</a>
                    </div>
                    <ul class="sidebar-menu">
                       @* <li class="nav-item dropdown active">
                            <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Gói cước</span></a>
                            <ul class="dropdown-menu">

                                <li><a class="nav-link" href="/live/pricing">Live</a></li>
                                <li><a class="nav-link" href="/live-4k/pricing">Live 4k</a></li>
                            </ul>
                        </li>*@
                        <li><a class="nav-link" href="/render/create"><i class="fas fa-columns"></i> <span>Render</span></a></li>
                       @* <li><a class="nav-link" href="/admin/Authenticator/EnableAuthenticator"><i class="fas fa-columns"></i> <span>Gói Cước</span></a></li>*@
                        <li><a class="nav-link" href="/account/profile"><i class="fas fa-user"></i> <span>Cá nhân</span></a></li>
                        @if (User.IsInRole("Manager")|| User.IsInRole("Admin"))
                        {
                            <li><a class="nav-link" href="/admin/user/index"><i class="fas fa-lock"></i> <span>Trang Quản lý</span></a></li>
                        }
                      @* @await Component.InvokeAsync("LinkVideo")*@

                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2021 <div class="bullet"></div>
                </div>
            </footer>
        </div>

    </div>

    <!-- General JS Scripts -->
    <script src="~/admin-themes/assets/modules/jquery.min.js"></script>
    <script src="~/admin-themes/assets/modules/popper.js"></script>
    <script src="~/admin-themes/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin-themes/assets/modules/jquery.nicescroll.min.js"></script>
    <script src="~/admin-themes/assets/modules/moment.min.js"></script>
    <script src="~/admin-themes/assets/js/stisla.js"></script>
    <!-- JS Libraies -->
    <script src="/admin-themes/assets/modules/izitoast/js/iziToast.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/admin-themes/assets/modules/datatables/datatables.min.js"></script>
    <script src="~/admin-themes/assets/modules/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin-themes/assets/modules/datatables/dataTables.select.min.js"></script>

    <!-- Template JS File -->
    <script src="~/admin-themes/assets/js/scripts.js"></script>
    <script src="~/admin-themes/assets/js/custom.js"></script>
    <script src="~/admin-themes/assets/js/page/bootstrap-modal.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/admin-themes/assets/js/page/modules-datatables.js"></script>
    <script>

    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
